@charset "utf-8";

/* club-pet MODAL */
.club-location-modal-Wrap {
    display: none;
    width: 100%;
    height: 100%;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:fixed;
    top:50%; 
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 9999;

    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
}

.club-location-modal-Wrap .club-location-modal-Box {
    width:500px;
    height: 850px;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    position: relative;
}

.club-location-text-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 20%;
}

.club-location-text-wrap img {
    display: block;
    object-fit: contain;
    width: 50px;
}

.club-location-search-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 10%;
    background-color: #e2e2e2;
}

.club-location-search-wrap select {
    width: 20%;
    border: none;
    height: 80%;
    padding: 0 5px;
}

.club-location-search-wrap select:focus {
    outline: auto;
}

.club-location-search-wrap input[type="text"] {
    width: 40%;
    border: none;
    height: 80%;
    padding-left: 5px;
}

.club-location-search-wrap input:focus {
    outline: none;
}

.club-location-search-wrap input[type="button"] {
    width: 20%;
    border: none;
    height: 80%;
    cursor: pointer;
}

.club-location-search-result-wrap{
    height: 30%;
    border: 1px solid #e2e2e2;
    overflow: auto;
}

.club-location-search-result-wrap::-webkit-scrollbar {
    width: 8px;
}
.club-location-search-result-wrap::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
.club-location-search-result-wrap::-webkit-scrollbar-track {
    background-color: #e2e2e2;
}

.location-result-item-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    border: 1px solid #ccc;
    margin: 10px;
    cursor: pointer;
}

.location-result-item-box h4 {
    margin-right: 10px;
}

/* .location-result-item-box p {
    font-size: 10px;
} */

.club-location-select-result-wrap{
    height: 30%;
    border: 1px solid #e2e2e2;
    overflow: auto;
    margin-top: 10px;
    overflow: auto;
}

.club-location-select-result-wrap::-webkit-scrollbar {
    width: 8px;
}
.club-location-select-result-wrap::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
.club-location-select-result-wrap::-webkit-scrollbar-track {
    background-color: #e2e2e2;
}

.location-select-item-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    border: 1px solid #ccc;
    margin: 10px;
    cursor: pointer;
}

.location-select-item-box h4 {
    margin-right: 10px;
}

/* .location-select-item-box p {
    font-size : 10px;
} */

.club-location-button-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 10%;
}

.club-location-button-wrap input {
    width: 100%;
    padding: 5px;
    margin: 5px;
    background-color: white;
}

.club-location-button-wrap input#club-location-input-ok {
    color: #E76161;
    border: 1px solid #E76161;
    border-radius: 3px;
}

.club-location-button-wrap input#club-location-input-cancel {
    border: 1px solid gray;
    border-radius: 3px;
}

